body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #64b1f0;
    margin: 5%;
}

.bloco-post1 {
    width: 717px;
    height: 466px;
    border: solid 2px #ff00af;
}

.bloco-post2 {
    width: 750px;
    height: 714px;
    border: solid 2px #ff00ff;
}

.bloco-post3 {
    width: 252px;
    height: 144px;
    border: solid 2px #ffaaff;
}

.bloco-post4 {
    width: 640px;
    height: 400px;
    border: solid 2px #ff5fff;
}